body {
    font-family: "Open Scans", sans-serif;
}

.card-title {
    font: 500 1.25rem "Lobster", cursive;
}

.card-img-overlay .card-title {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
}
